@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
	width: 100%;
	height: 400vh;
	font-family: 'Arvo', serif;
	color: #fff;
	background: linear-gradient(30deg, #202057, #22abab, #113567, #22A2C5, #2a445b);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

.menu {
  margin-top:-30vh;
  margin-left:8vh;
}

.menu li {
  font-family: 'Arvo', serif;
  float: left;
  padding-right: 30px;
  font-size: 1.5em;
  color: #00ffe1;
  list-style-type: none;
}

.menu li a {
  color: #00ffe1;
  text-decoration: none;
}

#title {
  font-family: 'Arvo', serif;
  margin-top: 5vh;
  margin-bottom:2vh;
  color: white;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
}

h1 {
	font-weight: 300;
  font-size: 70px;
}

h3 {
	color: #eee;
	font-weight: 100;
}

h5 {
	color:#eee;
	font-weight:300;
}

a,
a:hover {
  font-weight: 1000;
  text-decoration: none;
	text-shadow: 50px;
	color: #00ffe1;
}


h6, p {
  text-align: center;
}

p {
  font-size: 1.2em;
}

.portfolio {
    width: 50%;
    margin-bottom: -15px;
}

.imgdes {
  font-weight: 30;
  color: white;
  font-family: 'Arvo', serif;
}

footer {
  border-top: 2px black solid;
  padding: 4px;
  font-size: 17px;
  text-align: center;
}
